---
title: Bathroom Remodeling in the Bay Area
---

<main id="bathroom">
		<h1 class="main_title">BATHROOM REMODELING IN THE BAY AREA</h1>

		<div class="section_wrapper">
			<img src="images/bathroom_remodeling/bathroom-full_tiny.jpg" alt="You could be looking at a fully remodeled bathroom.">
			<section>
				<h2 class="bathroom_h2">PRACTICAL AND COST EFFICIENT</h2>
				<p class="bathroom_p">
					We are a practical company.  We know that when you're planning for a bathroom remodel you want to maximize space, storage, and accessibility, while keeping the price tag reasonable.  
				</p>
				<p class="bathroom_p">
					We are experts at this.  Our knowledge of the latest technology and home improvement gadgets, combined with over 40 years of tried and true methods means that you get a bathroom remodel that you're thrilled about, with a price tag that makes your wallet smile.
				</p>
			</section>
		</div>

		<div class="section_wrapper">
			<img src="images/bathroom_remodeling/bathroom-sink_tiny.jpg" alt="You could be looking at a gorgeous brand-new sink installation">
			<section>
				<h2 class="bathroom_h2">CUSTOM AND QUALITY</h2>
				<p class="bathroom_p">
					But building within a budget or with space restrictions doesn't mean that you have to sacrifice style or quality.  In fact, because we employ seasoned craftsmen and partner up with specialty woodworkers we get great pricing on high end materials as well as custom wood work.
				</p>
				<p class="bathroom_p">
					Marble tops, tiled walls and flooring, spectacularly lit vanities, these aspects can be built in to turn an ordinary space into an extraordinary room.  Having worked in the Bay Area for decades we are familiar with the architectural scene here, which gives us an eye for style and design in places and ways often missed or overlooked.
				</p>
			</section>
		</div>

		<div class="section_wrapper">
			<img src="images/bathroom_remodeling/bathroom-bathtub_tiny.jpg" alt="You could be looking at a brand-new luxurious bathtub inside your new bathroom">
			<section>
				<h2 class="bathroom_h2">EXQUISITE INDULGENCE</h2>
				<p class="bathroom_p">
					However, if you want to go large and stylish, we can more than provide!  We love exquisite projects where we get to fulfull your dreams of what this personalized space should be.  
				</p>
				<p class="bathroom_p">
					Go ahead, splurge on that multi-surround-jet DVD jacuzzi you've always wanted (and deserve!).  Decide to go with the large, two-person shower with a bench.  You know you're going to enjoy the marble top  and the heated tiled flooring.  Give us a call and we'll turn your bathroom dreams into magic.  
				</p>
			</section>
		</div>

	</main>