---
title: Decks and Patios in the Bay Area
---

<main id="decks_patios">
	

	<div class="section_wrapper">
		<section>
			<h2>READY FOR A NEW DECK?</h2>
			<p>
				With over 40 years experience building decks, you will not be disappointed with the quality and styles that we offer.  With 100% customer satisfaction behind our reputation we are certain that we can build your dream deck no matter the style, design, or setting.  
			</p>
			<p>
				Our framing work is done right the first time, every time.  Always up to code, up to date on the latest modrn designs, and thoroughly experienced in the framing trade, we can design a deck or patio for you that fits all your needs.  Whether it's lounging in the sun, enjoying a built-in jacuzzi, walking a path to a gazebo, planting space for your arbor, or sitting on some well placed benches, we can flawlessly integrate all these things together with your house or landscape design.  
			</p>
		</section>
	</div>

	<div class="section_wrapper">
		<section>
			<h2>NEED TO RENOVATE A DECK OR PATIO?</h2>
			<img class="deck_rot" src="images/decks/deck_rot_1000x750_tiny.jpg" alt="Rotten to the Core">
			<p>
				The most common reasons for renovating a deck or patio are Dry Rot and Termites.  If you think the picture to the right looks unsavory, you're right - that wood has been thorolughly rotted.  Time, weather, decay, improper wood and improper care can lead to wood that is barely held together and is unsafe.  You definitely don't want to find out the hard way when the wood just won't hold anymore.  
			</p>
			<p>
				Our experienced contractor team knows the signs of rot and just what to do about it.  We can replace the whole thing, repair just the parts that need it, or reinforce it to make sure it lasts longer.  
			</p>
			<p>
				Send us a message and a picture of your problem and we can help you figure out the best course of action.  
			</p>
		</section>
	</div>

</main>