---
title: gallery
---

<main id="gallery">
                                       
                                       <!-- INTERIOR STAIRCASE 3 -->

<div id="interior_staircase_3" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    
    <div class="item">
      <img src="images/gallery/interior_staircase_3/interior_staircase_3-2_before_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE 3 - BEFORE">
      <h3>INTERIOR STAIRCASE 3 - BEFORE</h3>
    </div>

    <div class="item active"> 
      <img src="images/gallery/interior_staircase_3/interior_staircase_3-1_before_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE 3 - BEFORE">
      <h3>INTERIOR STAIRCASE 3 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_3/interior_staircase_3-4_during_900_tiny.jpg" alt="INTERIOR STAIRCASE 3 - DURING">
      <h3>INTERIOR STAIRCASE 3 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_3/interior_staircase_3-9_after_900_tiny.jpg" alt="INTERIOR STAIRCASE 3 - AFTER">
      <h3>INTERIOR STAIRCASE 3 - AFTER</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_3/interior_staircase_3-11_after_900_tiny.jpg" alt="INTERIOR STAIRCASE 3 - AFTER">
      <h3>INTERIOR STAIRCASE 3 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#interior_staircase_3" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#interior_staircase_3" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>  

                                <!-- CABINETS 1 -->

  <div id="cabinets-1" class="carousel slide carousel-sync" data-ride="carousel" data-pause="false">

    <div class="carousel-inner">
      <div class="gallery_carousel_img active item">
        <img src="images/gallery/cabinets-1/cabinet1-1_before_900_tiny.jpg" alt="Cabinets 1 - Before">
        <h3>CABINETS 1 - BEFORE</h3>
      </div>

      <div class="gallery_carousel_img item">
        <img src="images/gallery/cabinets-1/cabinet1-2_after_900_tiny.jpg" alt="Cabinets 1 - After">
        <h3>CABINETS 2 - AFTER</h3>
      </div>
    </div>

    <a class="left carousel-control" href="#cabinets-1" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#cabinets-1" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

                                     <!-- CABINETS 2 -->

  <div id="cabinets-2" class="carousel slide carousel-sync" data-ride="carousel" data-pause="false">
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/gallery/cabinets-2/cabinets2-1_before_900_tiny.jpg" alt="Cabinets 2 - Before">
        <h3>CABINETS 2 - BEFORE</h3>
      </div>

      <div class="item">
        <img src="images/gallery/cabinets-2/cabinets2-2_after_900_tiny.jpg" alt="Cabinets 2 - After">
        <h3>CABINETS 2 - AFTER</h3>
      </div>
    </div>

    <a class="left carousel-control" href="#cabinets-2" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#cabinets-2" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

                                    <!-- ADDITION 1 -->

<div id="addition-1" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">

    <div class="item active"> 
      <img src="images/gallery/addition-1/addition1-1-before-900-tiny.jpg" alt="Addition 1 - Before">
      <h3>ADDITION 1 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/addition-1/addition1-2-during-900-tiny.jpg" alt="Addition 2 - During">
      <h3>ADDITION 1 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/addition-1/addition1-3-after-900-tiny.jpg" alt="Addition 3 - After">
      <h3>ADDITION 1 - AFTER</h3>
    </div>
    
  </div>

  <a class="left carousel-control" href="#addition-1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#addition-1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

                                      <!-- ADDITION 2 -->

<div id="addition-2" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/addition-2/addition2-1-before-900-tiny.jpg" alt="Home Addition - Before">
      <h3>ADDITION 2 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/addition-2/adition2-2-after-900-tiny.jpg" alt="Home Addition - After">
      <h3>ADDITION 2 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#addition-2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#addition-2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
                                  <!-- FOYER STAIRS -->

<div id="foyer-stairs" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">

    <div class="item active"> 
      <img src="images/gallery/foyer-stairs/foyer-stairs-1_1-before-900-tiny.jpg" alt="Foyer Stairs - Before">
      <h3>FOYER STAIRS - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/foyer-stairs/foyer-stairs-1_2-during-900-tiny.jpg" alt="Foyer Stairs - During">
      <h3>FOYER STAIRS - DURING</h3>
    </div>
    
    <div class="item">
      <img src="images/gallery/foyer-stairs/foyer-stairs-1_3-after-900-tiny.jpg" alt="Foyer Stairs - After">
      <h3>FOYER STAIRS - AFTER</h3>
    </div>

    <div class="item">
      <img src="images/gallery/foyer-stairs/foyer-stairs-1_4-after-900-tiny.jpg" alt="Foyer Stairs - After">
      <h3>FOYER STAIRS - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#foyer-stairs" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#foyer-stairs" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

                                  <!-- FOYER ENTRANCE -->

<div id="foyer-entrance" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/foyer-entrance/foyer-entrance-1_1-before-900-tiny.jpg" alt="Foyer Entrance - Before">
      <h3>FOYER ENTRANCE - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/foyer-entrance/foyer-entrance-1_2-after-900-tiny.jpg" alt="Foyer Entrance - After">
      <h3>FOYER ENTRANCE - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#foyer-entrance" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#foyer-entrance" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

                                     <!-- CABINETS 1 -->

<div id="vanity-1" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/vanity-1/vanity-1_1-before-900-tiny.jpg" alt="cabinets - Before">
      <h3>VANITY 1 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/vanity-1/vanity-1_3-after-900-tiny.jpg" alt="cabinets - Before">
      <h3>VANITY 1 - AFTER</h3>
    </div>

    <div class="item">
      <img src="images/gallery/vanity-1/vanity-1_2-before-900-tiny.jpg" alt="cabinets - After">
      <h3>VANITY 1 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/vanity-1/vanity-1_4-after-900-tiny.jpg" alt="cabinets - After">
      <h3>VANITY 1 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#vanity-1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#vanity-1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>     

                                 <!-- DRY ROT REPAIR 1 -->

<div id="dry_rot_repair_1" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/dry_rot_repair_1/dry_rot_repair_1_before_01_900x1200_tiny.jpg" alt="DRY ROT REPAIR 1 - BEFORE">
      <h3>DRY ROT REPAIR 1- BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/dry_rot_repair_1/dry_rot_repair_1_during_02_900x1200_tiny.jpg" alt="DRY ROT REPAIR 1 - DURING">
      <h3>DRY ROT REPAIR 1 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/dry_rot_repair_1/dry_rot_repair_1_after_03_900x1200_tiny.jpg" alt="DRY ROT REPAIR 1 - AFTER">
      <h3>DRY ROT REPAIR 1 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#dry_rot_repair_1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#dry_rot_repair_1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>                      

                                  <!-- DRY ROT REPAIR 2 -->

<div id="dry_rot_repair_2" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/dry_rot_repair_2/dry_rot_repair_2-01_before_900_tiny.jpg" alt="DRY ROT REPAIR - BEFORE">
      <h3>DRY ROT REPAIR - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/dry_rot_repair_2/dry_rot_repair_2-02_during_900_tiny.jpg" alt="DRY ROT REPAIR - DURING">
      <h3>DRY ROT REPAIR - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/dry_rot_repair_2/dry_rot_repair_2-03_after_900_tiny.jpg" alt="DRY ROT REPAIR - AFTER">
      <h3>DRY ROT REPAIR - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#dry_rot_repair_2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#dry_rot_repair_2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>     

                                    <!-- MARBLE FLOOR -->

<div id="marble_floor" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/marble_floor/marble_floor_1_before_900_tiny.jpg" alt="MARBLE FLOOR - BEFORE">
      <h3>MARBLE FLOOR - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/marble_floor/marble_floor_2_after_900_tiny.jpg" alt="MARBLE FLOOR - AFTER">
      <h3>MARBLE FLOOR - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#marble_floor" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#marble_floor" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>     

                                       <!-- INTERIOR STAIRCASE -->

<div id="interior_staircase_4" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/interior_staircase_4/interior_staircase_4-1_before_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE - BEFORE">
      <h3>INTERIOR STAIRCASE - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_4/interior_staircase_4-2_during_900x1200.jpg" alt="INTERIOR STAIRCASE - DURING">
      <h3>INTERIOR STAIRCASE - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_4/interior_staircase_4-3_after_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE - AFTER">
      <h3>INTERIOR STAIRCASE - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#interior_staircase_4" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#interior_staircase_4" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>     


                                    <!-- INTERIOR DOOR -->

<div id="interior_door_2" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/interior_door_2/interior_door_2-1_before_900_tiny.jpg" alt="INTERIOR DOOR - BEFORE">
      <h3>INTERIOR DOOR - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_door_2/interior_door_2-1_after_900_tiny.jpg" alt="INTERIOR DOOR - AFTER">
      <h3>INTERIOR DOOR - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#interior_door_2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#interior_door_2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>   

                                    <!-- CLOSET 1-->

<div id="closets_1" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item">
      <img src="images/gallery/closets_1/closet1-1-before-900-tiny.jpg" alt="NEW CLOSET - AFTER">
      <h3>NEW CLOSET - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/closets_1/closet1-3-after-900-tiny.jpg" alt="NEW CLOSET - AFTER">
      <h3>NEW CLOSET - AFTER</h3>
    </div>

    <div class="item active"> 
      <img src="images/gallery/closets_1/closet1-2-before-900-tiny.jpg" alt="NEW CLOSET - BEFORE">
      <h3>NEW CLOSET - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/closets_1/closet1-4-after-900-tiny.jpg" alt="NEW CLOSET - AFTER">
      <h3>NEW CLOSET - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#closets_1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#closets_1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>   


                                    <!-- EXTERIOR STAIRCASE 1-->

<div id="exterior_staircase" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item">
      <img src="images/gallery/exterior_staircase/exterior_staircase_before_1_900x1200_tiny.jpg" alt="EXTERIOR STAIRCASE - BEFORE">
      <h3>EXTERIOR STAIRCASE - BEFORE</h3>
    </div>

    <div class="item active"> 
      <img src="images/gallery/exterior_staircase/exterior_staircase_before_2_900x1200_tiny.jpg" alt="EXTERIOR STAIRCASE - BEFORE">
      <h3>EXTERIOR STAIRCASE - BEFORE</h3>
    </div>

    
    <div class="item">
      <img src="images/gallery/exterior_staircase/exterior_staircase_during_3_900x1200_tiny.jpg" alt="EXTERIOR STAIRCASE - DURING">
      <h3>EXTERIOR STAIRCASE - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/exterior_staircase/exterior_staircase_after_6_900x1200_tiny.jpg" alt="EXTERIOR STAIRCASE - AFTER">
      <h3>EXTERIOR STAIRCASE - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#exterior_staircase" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#exterior_staircase" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>   


                                    <!-- RETAINING WALL 1-->

<div id="retaining_wall_1" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item">
      <img src="images/gallery/retaining_wall_1/retaining_wall_1-2_before_900_tiny.jpg" alt="RETAINING WALL - AFTER">
      <h3>RETAINING WALL - BEFORE</h3>
    </div>

    <div class="item active"> 
      <img src="images/gallery/retaining_wall_1/retaining_wall_1-1_before_900_tiny.jpg" alt="RETAINING WALL - BEFORE">
      <h3>RETAINING WALL - BEFORE</h3>
    </div>

    
    <div class="item">
      <img src="images/gallery/retaining_wall_1/retaining_wall_1-3_during_900_tiny.jpg" alt="RETAINING WALL - DURING">
      <h3>RETAINING WALL - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/retaining_wall_1/retaining_wall_1-4_after_900_tiny.jpg" alt="RETAINING WALL - AFTER">
      <h3>RETAINING WALL - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#retaining_wall_1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#retaining_wall_1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>   


<!-- INTERIOR STAIRCASE 1-->

<div id="interior_staircase_1" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    
    <div class="item active"> 
      <img src="images/gallery/interior_staircase_1/interior_staircase_1-1_before_900_tiny.jpg" alt="INTERIOR STAIRCASE - BEFORE">
      <h3>INTERIOR STAIRCASE - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_1/interior_staircase_1-2_during_900_tiny.jpg" alt="INTERIOR STAIRCASE - DURING">
      <h3>INTERIOR STAIRCASE - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_1/interior_staircase_1-3_after_900_tiny.jpg" alt="INTERIOR STAIRCASE - AFTER">
      <h3>INTERIOR STAIRCASE - AFTER</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_1/interior_staircase_1-4_after_900_tiny.jpg" alt="INTERIOR STAIRCASE - AFTER">
      <h3>INTERIOR STAIRCASE - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#interior_staircase_1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#interior_staircase_1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>   


                                    <!-- FIREPLACE 5-->

<div id="fireplace_5" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/fireplace_5/fireplace_5-1_before_900_tiny.jpg" alt="FIREPLACE - BEFORE">
      <h3>FIREPLACE - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/fireplace_5/fireplace_5-2_after_900_tiny.jpg" alt="FIREPLACE - AFTER">
      <h3>FIREPLACE - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#fireplace_5" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#fireplace_5" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>   

                                       <!-- DECKS 2 -->

<div id="decks_2" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/deck_2/deck_2-1_before_900_tiny.jpg" alt="DECKS 2 - BEFORE">
      <h3>DECKS 2 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/deck_2/deck_2-2_during_900_tiny.jpg" alt="DECKS 2 - DURING">
      <h3>DECKS 2 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/deck_2/deck_2-3_after_900_tiny.jpg" alt="DECKS 2 - AFTER">
      <h3>DECKS 2 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#decks_2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#decks_2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>    


                                       <!-- DECKS 5 -->

<div id="decks_5" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/decks_5/decks_5-1_before_900x1200_tiny.jpg" alt="DECKS 5 - BEFORE">
      <h3>DECKS 5 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/decks_5/decks_5-2_during_900x1200_tiny.jpg" alt="DECKS 5 - DURING">
      <h3>DECKS 5 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/decks_5/decks_5-2_during_900x1200_tiny.jpg" alt="DECKS 5 - AFTER">
      <h3>DECKS 5 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#decks_5" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#decks_5" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>    

                                       <!-- INTERIOR STAIRCASE 5 -->

<div id="interior_staircase_5" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    
    <div class="item">
      <img src="images/gallery/interior_staircase_5/interior_staircase_5-1_before_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE 5 - BEFORE">
      <h3>INTERIOR STAIRCASE 5 - BEFORE</h3>
    </div>

    <div class="item active"> 
      <img src="images/gallery/interior_staircase_5/interior_staircase_5-4_during_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE 5 - DURING">
      <h3>INTERIOR STAIRCASE 5 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_5/interior_staircase_5-5_after_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE 5 - AFTER">
      <h3>INTERIOR STAIRCASE 5 - AFTER</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_5/interior_staircase_5-2_before_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE 5 - BEFORE">
      <h3>INTERIOR STAIRCASE 5 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_5/interior_staircase_5-3_during_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE 5 - DURING">
      <h3>INTERIOR STAIRCASE 5 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_5/interior_staircase_5-6_after_900x1200_tiny.jpg" alt="INTERIOR STAIRCASE 5 - AFTER">
      <h3>INTERIOR STAIRCASE 5 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#interior_staircase_5" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#interior_staircase_5" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> 

                                  <!-- FIREPLACE 2 -->

<div id="fireplace_2" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/fireplace_2/fireplace_2-1_before_900_tiny.jpg" alt="FIREPLACE 2 - Before">
      <h3>FIREPLACE 2 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/fireplace_2/fireplace_2-2_after_900_tiny.jpg" alt="FIREPLACE 2 - After">
      <h3>FIREPLACE 2 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#fireplace_2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#fireplace_2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

                                      <!-- DECK 3 -->

<div id="deck_3" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/deck_3/deck_3-1_before_900_tiny.jpg" alt="DECK 3 - BEFORE">
      <h3>DECK 3 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/deck_3/deck_3-3_during_900_tiny.jpg" alt="DECK 3 - DURING">
      <h3>DECK 3 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/deck_3/deck_3-2_during_900_tiny.jpg" alt="DECK 3 - DURING">
      <h3>DECK 3 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/deck_3/deck_3-4_after_900_tiny.jpg" alt="DECK 3 - AFTER">
      <h3>DECK 3 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#deck_3" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#deck_3" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>   


                                      <!-- DECK 4 -->

<div id="deck_4" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active"> 
      <img src="images/gallery/deck_4/deck_4-1_during_900_tiny.jpg" alt="DECK 4 - DURING">
      <h3>DECK 4 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/deck_4/deck_4-2_during_900_tiny.jpg" alt="DECK 4 - DURING">
      <h3>DECK 4 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/deck_4/deck_4-3_after_900_tiny.jpg" alt="DECK 4 - AFTER">
      <h3>DECK 4 - AFTER</h3>
    </div>
  </div>

  <a class="left carousel-control" href="#deck_4" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#deck_4" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>    

                                   <!-- DRY ROT REPAIR -->

<div id="dry_rot_repair" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">

    <div class="item active"> 
      <img src="images/gallery/dry_rot_repair/dry_rot_repair_1-1_before_900x1200_tiny.jpg" alt="DRY ROT REPAIR - BEFORE">
      <h3>DRY ROT REPAIR - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/dry_rot_repair/dry_rot_repair_1-2_during_900x1200_tiny.jpg" alt="DRY ROT REPAIR - DURING">
      <h3>DRY ROT REPAIR - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/dry_rot_repair/dry_rot_repair_0-3_after_900x1200_tiny.jpg" alt="DRY ROT REPAIR - AFTER">
      <h3>DRY ROT REPAIR - AFTER</h3>
    </div>
    
  </div>

  <a class="left carousel-control" href="#dry_rot_repair" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#dry_rot_repair" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


                                   <!-- FIREPLACE 1 -->

<div id="fireplace_1" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">

    <div class="item active"> 
      <img src="images/gallery/fireplace_1/fireplace_1-1_before_900_tiny.jpg" alt="FIREPLACE 1 - BEFORE">
      <h3>FIREPLACE 1 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/fireplace_1/fireplace_1-2_during_900_tiny.jpg" alt="FIREPLACE 1 - DURING">
      <h3>FIREPLACE 1 - DURING</h3>
    </div>

    <div class="item">
      <img src="images/gallery/fireplace_1/fireplace_1-3_after_900_tiny.jpg" alt="FIREPLACE 1 - AFTER">
      <h3>FIREPLACE 1 - AFTER</h3>
    </div>
    
  </div>

  <a class="left carousel-control" href="#fireplace_1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#fireplace_1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

                                   <!-- FLOOR 1 -->

<div id="floor_1" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">

    <div class="item active"> 
      <img src="images/gallery/floor_1/floor_1-1_before_900_tiny.jpg" alt="FLOOR 1 - BEFORE">
      <h3>FLOOR 1 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/floor_1/floor_1-2_after_900_tiny.jpg" alt="FLOOR 1 - AFTER">
      <h3>FLOOR 1 - AFTER</h3>
    </div>
    
  </div>

  <a class="left carousel-control" href="#floor_1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#floor_1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


                                   <!-- FLOOR 3 -->

<div id="floor_3" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">

    <div class="item active"> 
      <img src="images/gallery/floor_3/floor_3-1_before_900_tiny.jpg" alt="FLOOR 3 - BEFORE">
      <h3>FLOOR 3 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/floor_3/floor_3-2_after_900_tiny.jpg" alt="FLOOR 3 - AFTER">
      <h3>FLOOR 3 - AFTER</h3>
    </div>
    
  </div>

  <a class="left carousel-control" href="#floor_3" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#floor_3" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


                                  <!-- INTERIOR STAIRCASE 2 -->

<div id="interior_staircase_2" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">

    <div class="item active"> 
      <img src="images/gallery/interior_staircase_2/interior_staircase_2-1_before_900_tiny.jpg" alt="INTERIOR STAIRCASE 2 - BEFORE">
      <h3>INTERIOR STAIRCASE 2 - BEFORE</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_2/interior_staircase_2-2_after_900_tiny.jpg" alt="INTERIOR STAIRCASE 2 - AFTER">
      <h3>INTERIOR STAIRCASE 2 - AFTER</h3>
    </div>

    <div class="item">
      <img src="images/gallery/interior_staircase_2/interior_staircase_2-3_after_900_tiny.jpg" alt="INTERIOR STAIRCASE 2 - AFTER">
      <h3>INTERIOR STAIRCASE 2 - AFTER</h3>
    </div>
    
  </div>

  <a class="left carousel-control" href="#interior_staircase_2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#interior_staircase_2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</main>