---
title: Services in the Bay Area
---

<main id="services">
		<h1 class="main_title">SERVICES</h1>
		
		<div class="section_wrapper">
			<img src="images/houseAddition.jpg" alt="Imagine Any Kind of Addittion to Your Home">
			<section>
				<h2>ADDITION TO EXISTING INFRASTRUCTURE</h2>
					<ul>
						<li>Bathroom Remodel</li>
						<li>Kitchen Remodel</li>
						<li>Upgrade Kitchen and Baths</li>
						<li>Room Additions</li>
						<li>New Construction</li>
						<li>Windows </li>
						<li>Patio Enclosures</li>
						<li>Patio Covers</li>
					</ul>
			</section>
		</div>

		<div class="section_wrapper">
			<img src="images/customWork.jpg" alt="Custom Work">
			<section>
				<h2>CUSTOM WORK</h2>
				<ul>
					<li>Retrofitting</li>
					<li>Custom Major Renovation</li>
					<li>Wood Decks</li>
					<li>Fire Repairs</li>
					<li>Custom Doors</li>
					<li>Showers</li>
					<li>Tile Work</li>
					<li>Chimneys & Fireplaces</li>
				</ul>
			</section>
		</div>

		<div class="section_wrapper">
			<img src="images/doorCloset.jpg">
			<section>
				<h2>EXPERTISE</h2>
				<ul>
					<li>Foundation</li>
					<li>Framing</li>
					<li>Electrical</li>
					<li>Plumbing</li>
					<li>Sheetrock</li>
					<li>Complete Finish</li>
					<li>Painting</li>
					<li>Tile</li>
					<li>Carpentry</li>
					<li>Flooring</li>
					<li>General Renovation</li>
				</ul>
			</section>
		</div>
		
	</main>