---
title: Testimonials
---
<main id="testimonials">

	<h2> THIS IS WHAT CUSTOMERS SAY ABOUT US </h2>
	<p>
		The quality of the work performed by California Home Improvement Solutions (CHIS) was excellent.  They exceeded my expectations in all regards. 
		<br></br>
		I contracted CHIS to repair the back wall fo my house that had a large amount of dry rot.  Leo and his team were able to quickly assess the damage, then required repairs, purchase all needed materials at cost, and complete the work in a very timely nanner.  The finished work is better than the original and will last countless years to come.  
		<br></br>
		Leo and his team were very helpful and easy to work with.  I felt a very high degree of confidence from the team and their work was impeccable.  The work site was always left thoroughly organized and tidy.  Leo was extremely helpful especially in his selection and procurement of the needed materials.  
		<br></br>
		CHIS provided excellent value for my money.  All materials were purchased and provided at cost.  The entire project fit right into my expected budget.  There were no overages or unexpected surprises at all.  I can't recommend California Home Improvement highly enough.  
		<br></br>
		I have done many home improvement projects in the past and CHIS is by far the best experience I've ever had.  CHIS works on solid principals of ethics from the quality of the team, the work performed, and the outstanding customer service.  I plan to do additional projects with them in the future.  I am 100%+ satisfied customer.  
		<br></br>
		~ Andy Riedel, 12/24/2014
		<br></br>
		Home Advisor - 5 stars
	</p>

	<p>
		"Leo made sure that anything that wasn't use and could be returned and reduced the cost of the bill"
		<br></br> 
		Project: Repair Carpentry Framing
		<br></br>
		Source: Home Advisor
		<br></br>
		Home Advisor: 5 Stars
	</p>

	<p>
		​"Nice experience working with them. Finished the project on time, with high quality work. Provding professional service." ~ Katie K. from Walnut Creek
	</p>

	<p>
		Leo and his team did a great job for our Kitchen remodel! His team was professional and nice. They were on time and they exceeded my expectation. I am very happy with my overall experience with California Home Improvement Solutions. I will definitely use this company again. 
		<br></br>
		~ Mike and Mari C. from Menlo Park
	</p>

	<p>
		"They were quick and did a good job. Completed the project earlier than expected."
		<br></br>
		City: Belmont, CA
		<br></br>
		Project: Doors (Exterior) - Install or Replace
	</p>

	<p>
		"Leo came and took his time giving me an exellent detailed job estimate. None of the others came back with an estimate for their services. Leo was very professional and in later months when I am ready I would Call Leo as he does what he says he will do. All the others were just TALK."
		<br></br>
		City: Alameda, CA
		<br></br>
		Project: Bathroom - Remodel
	</p>

	<p>
		"Leo was very prompt in responding to questions. Arrived at his appointment time. A/C installers were courteous and arrived right on time for the job. Overall, I received excellent service from this contractor. "
		<br></br>
		City: San Jose, CA
		<br></br>
		Project: Central A/C - Install
	</p>

	<p>
		"I would recommend this company to my friends and anyone who needs a project completed."
		<br></br>
		City: Castro Valley, CA
		<br></br>
		Project: Central A/C - Install
	</p>

	<p>
		"The bathroom looks beautiful. The price was very reasonble. Other than a short delay due to some permit problems, the job moved very quickly. This was a full bathroom remodel with new tile walls, tile floor, new fixtures, new paint, etc. It looks fantastic and the quality of the work is very good."
		<br></br>
		City: San Francisco, CA
		<br></br>
		Project: Bathroom - Remodel
	</p>

	<p>
		"I have to admit the job was a littel pricy but you get what you pay for Great job Leo :-)"
		<br></br>
		CIty: Hayward, CA
		<br></br>
		Project: Kitchen - Remodel
	</p>

	<p>
		"Leo was very helpful and informative and kind.  I have not done the bathroom yet as I have a delay in beginning.  I would recommend him from what I know."
		<br></br>
		City: San Francisco, CA
		<br></br>
		Project: Bathroom - Remodel
	</p>

	<p>
		"We had a budget and let them know what we wanted and everything came out great.  Thanks very much"
		<br></br>
		City: San Jose, CA
		<br></br>
		Project: Custom Cabinets or Built-In Furniture - Build
	</p>

	<p>
		"Other then they don't take credit cards the work was great!"
		<br></br>
		City: Freemont, CA
		<br></br>
		Project: Exterior Home or Structure - Pain or Stain
	</p>

	<p>
		"I got a custom made door.  I was on vacation, and they called and said they would be on time, work was finished in one day!  They cleaned up every speck of saw dust and did and exceptional job.  Better than anything I've seen since my father's carpentry work.  Very please with Service Magic and Would definitely use this company again.  Highly recommend!"
		<br></br>
		City:  San Jose, CA
		<br></br>
		Project: Doors (exterior) - Install or Replace
	</p>

	<p>
		"I am extremely pleased with my whole experience with California Home Improvement Solutions.  Leo is very professional, easily accessible by cell, and had my project scheduled and completed within a matter of weeks.  Alex arrived 15 minutes early and did an exceptional job installing my flooring.  His work is flawless and I cannot stress how pleased I am with the job he did.  Don't hesitate to hire Leo and his team for your project."
		<br></br>
		City: Union City, CA
		<br></br>
		Project: Simulated Wood or Stone
	</p>

	<p>
		"Exceptional work.  The kitchen far exceeded expectations and the quality of crafsmanship is outstanding.  Workers were on-time and Leo was always communicating with us. Would HIGHLY recommend."
		<br></br>
		City: Pacifica, CA
		<br></br>
		Project: Kitchen - Remodel
	</p>

	<p>
		"California Home Improvement did an excellent job.  Extremely professional, courteous and friendly.  I highly recommend Leo and his team!"
		<br></br>
		City: Hayward, CA
		<br></br>
		Project: Interior Home or Surfaces - Paint or Stain
	</p>

	<p>
		"My wife and I could not be happier with the service provided.  We had envisioned the way the job should have looked, and when it was done, the finished product met and exceeded our expectations.  Alex and Dimitri were great to work with.  I truly believe they are the best at what they do and are worth their weight in gold.  They are an invaluable piece to California Home Improvement Solutions!"
		<br></br>
		City: South San Francisco, CA
		<br></br>
		Project: Simulated Wood or Stone Laminate Floor - Install
	</p>

	<p>
		"I found CHIS very responsive to all of my concerns including schedule, price, door selection, etc.  They know how to keep their client happy."
		<br></br>
		~ Diana G
		<br></br>
		Project: Door Replacement
	</p>

	<p>
		"Superior quality and high end workmanship."
		<br></br>
		~ Omar Kubian., San Francisco, CA, 6/5/2015
		<br></br>
		Project: Repair Carpentry Framing
		<br></br>
		Home Advisor Rating: 5 Stars
	</p>

	<p>
		
	</p>

</main>